{% extends 'base/base.html' %}

{% block title %}Order List{% endblock title %}

{% block breadcrumbs %}

{% include 'partials/_alerts.html' %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1><b>Dashboard</b></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Order</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Order List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Buyer</th>
                                <th>Category</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Delivery</th>
                                <th>Date</th>
                                <th>Status</th>
                                <!-- <th>Supplier</th> -->
                                <!-- <th>Design</th> -->
                                <!-- <th>Color</th>  -->
                                <!-- <th>Season</th> -->
                               
                 
                            </tr>
                        </thead>
                        <tbody>
                            {% if order %}
                            {% for order in order %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ order.buyer }}</td>
                                <td>{{ order.category }}</td>
                                <td>{{ order.product }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.price }}</td>
                                <td>{{ order.delivery }}</td>
                                <td>{{ order.created_date }}</td>
                              
                                <td>
                                    {% if order.status == 'pending' %}
                                        <a class="btn btn-outline-warning" href="">{{ order.status }}</a>
                                    {% elif order.status == 'decline' %}
                                        <a class="btn btn-outline-danger" href="">{{ order.status }}</a>
                                    {% elif order.status == 'complete' %}
                                        <a class="btn btn-outline-success" href="">{{ order.status }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Order Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->
</div>

<div class="row">
    <div class="col-md-12">
        {% if order.has_other_pages %}
            <ul class="pagination">
                {% if order.has_previous %}
                    <li class="page-item">
                        <a href="?page={{order.previous_page_number}}" class="page-link">Prev</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Prev</a>
                    </li>
                {% endif %}
                {% for i in order.paginator.page_range %}
                    {% if order.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if order.has_next %}
                    <li class="page-item">
                        <a href="?page={{order.next_page_number}}" class="page-link">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
<style>
    .card{
        border-radius: 18px;
    }
    .card-body{
        background-color: #682537;
        border-radius: 10px 10px 0px 0px;
        color: white;
    }
    .breadcrumbs-inner{
        border-radius: 10px;
    }
</style>
{% endblock content %}